useDynLib(apcluster)

importFrom("methods")

importFrom("graphics",
           "plot")

importFrom("stats",
           "cutree", "heatmap")

export("apclusterDemo", "negDistMat", "expSimMat", "corSimMat", "linSimMat",
       "linKernel", "preferenceRange", "sparseToFull")

exportClasses("APResult", "AggExResult", "ExClust")
exportMethods("show", "plot", "heatmap", "labels", "cutree", "[", "[[", similarity,
              "length", "apcluster", "apclusterL", "apclusterK", "aggExCluster")
