useDynLib(apcluster)

importFrom("methods")

importFrom("graphics",
           "plot")

importFrom("stats",
           "cutree", "heatmap", "as.hclust", "as.dendrogram")

importFrom("Rcpp", "evalCpp")

export("apclusterDemo", "negDistMat", "expSimMat", "corSimMat", "linSimMat",
       "linKernel", "preferenceRange", "sparseToFull")

exportClasses("APResult", "AggExResult", "ExClust")
exportMethods("show", "plot", "heatmap", "labels", "cutree", "[", "[[",
              "similarity", "as.hclust", "as.dendrogram",
              "length", "apcluster", "apclusterL", "apclusterK", "aggExCluster")
