useDynLib(apcluster)

import("methods")

importFrom("graphics",
           "plot")

importFrom("stats",
           "cutree", "heatmap", "as.hclust", "as.dendrogram")

importFrom("Rcpp", "evalCpp")

import("Matrix")

export("apclusterDemo", "negDistMat", "expSimMat", "corSimMat", "linSimMat",
       "linKernel", "sparseToFull")

exportClasses("APResult", "AggExResult", "ExClust")

exportMethods("show", "plot", "heatmap", "labels", "cutree", "[", "[[",
              "similarity", "as.hclust", "as.dendrogram", "length",
              "apcluster", "apclusterL", "apclusterK", "aggExCluster",
              "preferenceRange", "as.SparseSimilarityMatrix",
              "as.DenseSimilarityMatrix")

S3method("sort", "ExClust")
